
body {
    background-image: url(./Imagens/Background-InterplanetaryNetwork.jpg)
}   

h1 {
    color:white;
}

p {
     color:white;
 }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: gray;
    }
    
    li {
        float: left;
        border-right: 1px solid;
    }
    
    li:last-child {
        border-right: none;
    }

    li a {
        display: block;
        color:white;
        text-align: center;
        padding: 14px 25px;
        text-decoration: none;
    }
    .active {
        background-color:darkslateblue;
        color: white;
        text-decoration: underline;
    }

    .references {
        background-color: tan;
        color: black;
    }

        
    li a:hover:not(.active) {
        background-color: darkgreen;
        color: gainsboro;
    }
    li a:hover {
        background-color: darkgreen;
        color: gainsboro;
    }
    